<template>
  <div>
    <b-modal
      ref="createProduct"
      class="mod-form"
      centered
      no-close-on-backdrop
      no-close-on-esc>

      <div
        class="jback-to-route row"
        @click="$router.replace('/config/product')">
        <div class="col-12">
          <i
            class="fa fa-times"
            style="float:right;cursor:pointer"/>
        </div>
      </div>

      <jProductForm
        ref="form"
        mode="create"
        @data="getData"/>


      <b-button
        class="btn blue"
        @click="saveCreateProduct">
        CREATE
      </b-button>
    </b-modal>
  </div>
</template>

<script>
import jProductForm from '@/components/form/product/jProductForm';
import { jMixModelCreateProduct } from '@/mixins/models/product/jMixModelCreateProduct';

export default {
  components: {
    jProductForm,
  },

  mixins: [
    jMixModelCreateProduct,
  ],

  data() {
    return {
      product_data: null,
    };
  },

  mounted() {
    this.show();
  },

  methods: {
    saveCreateProduct() {
      this.$refs.form.save();
      if (this.product_data !== null) {
        this.sendData();
      }
    },

    getData(data) {
      this.product_data = data;
    },

    show() {
      this.$refs.createProduct.show();
    },
  },

};
</script>
