<template>
  <div>
    <b-modal
      ref="createActivityType"
      class="mod-form"
      centered
      no-close-on-backdrop
      no-close-on-esc>

      <div
        class="jback-to-route row"
        @click="$router.replace('/config/activity-type')">
        <div class="col-12">
          <i
            class="fa fa-times"
            style="float:right;cursor:pointer"/>
        </div>
      </div>

      <jActivityTypeForm
        ref="form"
        mode="create"
        @data="getData"/>


      <b-button
        class="btn blue"
        @click="saveCreateActivityType">
        CREATE
      </b-button>
    </b-modal>
  </div>
</template>

<script>
import jActivityTypeForm from '@/components/form/activity-type/jActivityTypeForm';
import { jMixModelCreateActivityType } from '@/mixins/models/activity-type/jMixModelCreateActivityType';

export default {
  components: {
    jActivityTypeForm,
  },

  mixins: [
    jMixModelCreateActivityType,
  ],

  data() {
    return {
      activity_type_data: null,
    };
  },

  mounted() {
    this.show();
  },

  methods: {
    saveCreateActivityType() {
      this.$refs.form.save();
      if (this.activity_type_data !== null) {
        this.sendData();
      }
    },

    getData(data) {
      this.activity_type_data = data;
    },

    show() {
      this.$refs.createActivityType.show();
    },
  },

};
</script>
