<template>
  <div class="m__t--20">
    <div
      v-if="my_calendar_state.events !== null"
      class="jCalendar">
      <vue-cal
        :events="my_calendar_state.events"
        :disable-views="['years', 'year', 'weeks', 'week']"
        default-view="month"
        events-on-month-view="short"/>
    </div>
    <router-view/>
  </div>
</template>

<script>
import { mapState, mapActions } from 'vuex';
// eslint-disable-next-line
import VueCal from 'vue-cal';
// eslint-disable-next-line
import 'vue-cal/dist/vuecal.css';

export default {
  // eslint-disable-next-line
  name: 'jMyCalendar',
  components: {
    VueCal,
  },
  computed: {
    ...mapState('jStoreDailyLog', ['my_calendar_state']),
  },
  mounted() {
    this.fillCalendar();
  },
  methods: {
    ...mapActions('jStoreDailyLog', ['getMyCalendar']),
    fillCalendar() {
      const today = new Date();
      const payload = {
        start_date: this.formatDate(new Date(today.getFullYear(), today.getMonth(), 1)),
        end_date: this.formatDate(new Date(today.getFullYear(), today.getMonth() + 1, 0)),
      };
      this.getMyCalendar(payload);
    },
    formatDate(d) {
      let month = `${d.getMonth() + 1}`;
      let day = `${d.getDate()}`;
      const year = d.getFullYear();

      if (month.length < 2) month = `0${month}`;
      if (day.length < 2) day = `0${day}`;

      return `${year}-${month}-${day}`;
    },
  },
};
</script>
