<template>
  <div>
    <div
      v-for="(source, index) in source_state.source_list"
      :key="index"
      class="row">
      <div class="col-2"/>
      <div
        class="col-8 m__b--5 m__t--10"
        style="border: 1px solid; border-radius: 10px; padding: 15px;">
        {{ source.name }}
        <b-button
          class="float-right btn red outline btn-round-21">
          <i
            class="fa fa-times"
            style="cursor: pointer; color: red"
            @click="deleteData(source.id)"/>
        </b-button>
        <b-button
          class="float-right btn orange outline btn-round-21 m__r--10">
          <i
            class="fa fa-pencil"
            style="cursor: pointer; color: orange"
            @click="$router.replace(`/config/source/edit/${source.id}`)"/>
        </b-button>
      </div>
    </div>
  </div>
</template>

<script>
import { jMixModelDeleteSource } from '@/mixins/models/source/jMixModelDeleteSource';
import { mapActions, mapState } from 'vuex';

export default {
  // eslint-disable-next-line
  name: 'jSourceList',
  mixins: [
    jMixModelDeleteSource,
  ],
  computed: {
    ...mapState('jStoreSource', ['source_state', 'data_changed']),
  },
  watch: {
    data_changed(val) {
      if (val) {
        this.getListSource();
        this.setDefaultDataChanged();
        this.$router.replace('/config/source');
      }
    },
  },
  mounted() {
    this.getListSource();
  },
  methods: {
    ...mapActions('jStoreSource', ['getListSource', 'setDefaultDataChanged']),
  },
};
</script>
