<template>
  <div>
    <div
      v-for="(goal, index) in goal_state.goal_list"
      :key="index"
      class="row">
      <div class="col-1"/>
      <div
        class="col-10 m__b--10"
        style="border:1px solid; border-radius:10px">
        <div class="row">
          <div class="col-12 p__t--5">
            <b-button
              class="float-right btn red outline btn-round-21">
              <i
                class="fa fa-times"
                style="cursor:pointer; color:red"
                @click="deleteData(goal.id)"/>
            </b-button>
            <b-button
              class="float-right btn orange outline btn-round-21 m__r--10">
              <i
                class="fa fa-pencil"
                style="cursor:pointer; color:orange"
                @click="$router.replace(`/config/goals/edit/${goal.id}`)"/>
            </b-button>
          </div>
          <div class="col-12 m__b--10">
            Name
            <div
              class="p--10 col-4"
              style="border:1px solid; border-radius: 10px">
              {{ goal.name }}
            </div>
          </div>
          <div class="col-3 m__r--15">
            Parameter
          </div>
          <div class="col-5 m__l--10 m__r--10">
            Amount
          </div>
          <div class="col-3 m__l--15">
            Type
          </div>
          <div
            class="p--10 col-3 m__l--15 m__r--15"
            style="border:1px solid; border-radius: 10px">
            {{ goal.activity_type.name.charAt(0).toUpperCase()
            + goal.activity_type.name.slice(1) }}
          </div>
          <div
            class="p--10 col-5 m__l--10 m__r--10"
            style="border:1px solid; border-radius: 10px">
            {{ goal.value }}
          </div>
          <div
            class="p--10 col-3 m__l--15 m__r--15"
            style="border:1px solid; border-radius: 10px">
            {{ goal.type.charAt(0).toUpperCase() + goal.type.slice(1) }}
          </div>
          <div class="col-12 m__b--10 m__t--10">
            Division
            <div style="border:1px solid; border-radius: 10px">
              <label
                v-for="(division, index) in goal.division"
                :key="index"
                class="p--10 m--10"
                style="border:1px solid; border-radius: 10px">
                {{ division.name }}
              </label>
            </div>
          </div>
          <div class="col-12 m__b--15">
            Period
            <div
              class="p--10 col-4"
              style="border:1px solid; border-radius: 10px">
              {{ goal.period_type.charAt(0).toUpperCase() + goal.period_type.slice(1) }}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { mapActions, mapState } from 'vuex';
import { jMixModelDeleteGoal } from '@/mixins/models/goals/jMixModelDeleteGoals';

export default {
  mixins: [
    jMixModelDeleteGoal,
  ],
  computed: {
    ...mapState('jStoreGoals', ['goal_state', 'data_changed']),
  },
  watch: {
    data_changed(val) {
      if (val) {
        this.getListGoal();
        this.setDefaultDataChanged();
        this.$router.replace('/config/goals');
      }
    },
  },
  mounted() {
    this.getListGoal();
  },
  methods: {
    ...mapActions('jStoreGoals', ['getListGoal', 'setDefaultDataChanged']),
  },
};
</script>
