@import 'init';

html,
body,
#app {
  height: 100%;
}

div::after,
li::before {
  font-family: 'FontAwesome' !important;
}


.float-to-right {
  @include flex-display;
  justify-content: flex-end;
}

.float-to-left {
  @include flex-display;
  justify-content: flex-start;
}

.float-to-center {
  @include flex-display;
  justify-content: center;
}

.custom-control-label::before {
  border: unset;
}

.pointer--cursor {
  cursor: pointer;
}

.ghost {
  opacity: 0.5;
  background: #c8ebfb;
}
