<template>
  <div>
    <b-modal
      ref="editActivityType"
      class="mod-form"
      centered
      no-close-on-backdrop
      no-close-on-esc>

      <div
        class="jback-to-route row">
        <div class="col-12">
          <i
            class="fa fa-times"
            style="float:right;cursor:pointer"
            @click="$router.replace('/config/activity-type')"/>
        </div>
      </div>

      <jActivityTypeForm
        ref="form"
        mode="edit"
        @data="getData"/>

      <b-button
        class="btn blue"
        @click="saveUpdateActivityType">
        SUBMIT
      </b-button>
      <b-button
        class="btn red"
        @click="deleteData">
        DELETE
      </b-button>
    </b-modal>
  </div>
</template>

<script>
import jActivityTypeForm from '@/components/form/activity-type/jActivityTypeForm';
import { jMixModelEditActivityType } from '@/mixins/models/activity-type/jMixModelEditActivityType';
import { jMixModelDeleteActivityType } from '@/mixins/models/activity-type/jMixModelDeleteActivityType';

export default {
  components: {
    jActivityTypeForm,
  },

  mixins: [
    jMixModelEditActivityType,
    jMixModelDeleteActivityType,
  ],

  data() {
    return {
      activity_type_data: null,
    };
  },

  mounted() {
    this.show();
  },

  methods: {
    saveUpdateActivityType() {
      this.$refs.form.save();
      if (this.activity_type_data !== null) {
        this.sendData();
      }
    },

    getData(data) {
      this.activity_type_data = data;
    },

    show() {
      this.$refs.editActivityType.show();
    },
  },

};
</script>
