<template>
  <div class="custom-search-table">
    <v-server-table
      v-show="load_first"
      ref="productServer"
      :columns="columns"
      :options="options"
      class="jTable"
      @loading="loading"
      @loaded="loaded"
      @row-click="onRowClick">

      <div
        slot="beforeFilter"
        class="custom-search m__b--10">
        <b-row>
          <b-col cols="7">
            <j-input
              v-model="filter_product"
              @keyup.13.native="customFilter(filter_product)"/>
          </b-col>
          <b-col
            class="p__l--10"
            cols="5">
            <b-button
              class="btn blue outline"
              @click="customFilter(filter_product)">
            <i class="fa fa-search bold" /> Search </b-button>
          </b-col>
        </b-row>
      </div>

      <div
        slot="checkbox"
        slot-scope="props"
        class="jTableReport"
        @click.stop>
        <b-form-group>
          <b-form-checkbox-group v-model="selected_rows">
            <b-form-checkbox :value="props.row"/>
          </b-form-checkbox-group>
        </b-form-group>
      </div>

      <div
        slot="date"
        slot-scope="props">
        {{ props.row.created_date }} {{ props.row.updated_date === null ?
        '' : '-- ' + props.row.updated_date }}
      </div>

      <div
        slot="type"
        slot-scope="props">
        {{ props.row.type }} {{ props.row.subscription ?
        ' ' + props.row.subscription.type : ' setting' }}
      </div>
    </v-server-table>

    <div>
      <jLoadingTable v-if="!load_first"/>
    </div>

    <br><br><br><br>

    <jDeleteProduct
      ref="floating"
      :selected-rows="selected_rows"
      @finish="productsDeleted"
      @close-floating="closeFloating"/>
  </div>
</template>

<script>
import jLoadingTable from '@/components/skeleton-loading/jLoadingTable';
import { jMixPaginationProduct } from '@/mixins/paginations/product/jMixPaginationProduct';
import jDeleteProduct from '@/views/config/product/main/delete-product/jDeleteProduct';

export default {
  // eslint-disable-next-line
  name: 'jProductList',
  components: {
    jDeleteProduct,
    jLoadingTable,
  },
  mixins: [
    jMixPaginationProduct,
  ],
  methods: {
    productsDeleted() {
      this.selected_rows = [];
      this.refreshTable();
    },
    onRowClick(data) {
      this.$router.replace(`/config/product/edit/${data.row.id}`);
    },
    closeFloating() {
      this.selected_rows = [];
    },
  },
};
</script>
