<template>
  <div>
    <b-form-group :class="{'error-input' : $v.industry_data.name.$error}">
      <label>Name*</label>
      <j-input
        v-model="$v.industry_data.name.$model"
        :max-length="50"
        placeholder="Name"/>
    </b-form-group>
  </div>
</template>

<script>
import { jMixValidationFormIndustry } from '@/mixins/validations/industry/jMixValidationFormIndustry';
import { jMixModeEditIndustry } from '@/mixins/mode/industry/jMixModeEditIndustry';

export default {
  mixins: [
    jMixValidationFormIndustry,
    jMixModeEditIndustry,
  ],
  props: {
    mode: {
      type: String,
      default: 'create',
    },
  },
  data() {
    return {
      industry_data: {
        id: 0,
        name: null,
      },
    };
  },
  methods: {
    save() {
      this.$v.industry_data.$touch();
      if (!this.$v.industry_data.$error) {
        this.$emit('data', this.industry_data);
      } else {
        this.$emit('data', null);
      }
    },
  },
};
</script>
