<template>
  <div class="col-12">
    <div class="row justify-content-center">
      <div class="col-8">
        <b-form-group :class="{'error-input' : false}">
          <label>Leads</label>
          <j-input
            v-model="opportunity_data.leads_name"
            :disabled="mode === 'detail'"
            placeholder="Leads"/>
        </b-form-group>
      </div>
      <div class="col-8">
        <b-form-group :class="{'error-input' : false}">
          <label>Name</label>
          <j-input
            v-model="opportunity_data.name"
            :disabled="mode === 'detail'"
            placeholder="Name"/>
        </b-form-group>
      </div>
      <div class="col-8 m__b--25">
        <label>Product</label><br>
        <div class="row">
          <div
            v-for="(product, index) in opportunity_data.product_list"
            :key="index"
            class="col-6">
            <div
              class="m__b--10"
              style="border: 1px solid; border-radius: 10px; padding: 5px;">
              <div class="row">
                <div class="col-6">{{ product.name }}</div>
                <div
                  class="col-6"
                  style="text-align: right">
                  {{ product.total_unit_of_measure }}
                </div>
                <div class="product-label col-6">Price</div>
                <div
                  class="col-6"
                  style="text-align: right">
                  {{ product.currency + ' ' + product.price }}
                </div>
                <div class="product-label col-6">Discount</div>
                <div
                  class="col-6"
                  style="text-align: right">
                  {{ discount(product) }}
                </div>
                <div class="product-label col-6">Total Price</div>
                <div
                  class="col-6"
                  style="text-align: right">
                  {{ product.currency }} {{ total_price(product) }}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-8">
        <b-form-group :class="{'error-input' : false}">
          <label>Description</label>
          <j-input
            v-model="opportunity_data.description"
            :disabled="mode === 'detail'"
            placeholder="Description"/>
        </b-form-group>
      </div>
      <div class="col-8">
        <b-form-group :class="{'error-input' : false}">
          <label>Sales in Charge</label>
          <j-input
            v-model="opportunity_data.sales"
            :disabled="mode === 'detail'"
            placeholder="Sales"/>
        </b-form-group>
      </div>
      <div class="col-8">
        <label>Contact Person</label><br>
        <div class="row">
          <div
            v-for="(pic, index) in opportunity_data.pic_list"
            :key="index"
            class="col-6">
            <div
              class="m__b--10"
              style="border: 1px solid; border-radius: 10px; padding: 5px;">
              {{ pic.detail.name }}, {{ pic.detail.title }} <br>
              {{ pic.detail.phone_no }} <br>
              {{ pic.detail.email }}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { jMixModeDetailOpportunity } from '@/mixins/mode/opportunity/jMixModeDetailOpportunity';
import Vue from 'vue';

export default {
  mixins: [
    jMixModeDetailOpportunity,
  ],
  props: {
    mode: {
      type: String,
      default: 'detail',
    },
  },
  data() {
    return {
      token: Vue.ls.get('Token'),
      add_contact: false,
      opportunity_data: {
        id: 0,
        name: null,
        leads_name: null,
        product_list: [],
        description: null,
        sales: null,
        pic_list: [],
      },
    };
  },
  methods: {
    discount(product) {
      let discount = '';
      if (product.discount_type === 1) {
        discount = `${product.discount} %`;
      } else {
        discount = `${product.currency} ${product.discount}`;
      }
      return discount;
    },
    total_price(product) {
      let total = 0;
      if (product.discount_type === 1) {
        total = ((100 - product.discount) / 100) * (product.price * product.total_unit_of_measure);
      } else {
        total = (product.price * product.total_unit_of_measure) - product.discount;
      }
      return total;
    },
  },
};
</script>
