<template>
  <div>
    <j-title-header :options="title"/>
    <j-tabs :tabs="tabs">
      <div
        id="containertabsPipeline"
        class="tab-content">
        <div
          v-for="i in tabs"
          :key="i.id"
          :id="i.idComp"
          :aria-labelledby="i.idTab"
          role="tabpanel"
          class="tab-pane" >
          <component :is="i.comp.name"/>
        </div>
      </div>
    </j-tabs>
    <router-view/>
  </div>
</template>

<script>
import constant from '@/constant/constant';
import jPipelineLeadGeneration from '@/views/sales/pipeline/lead-generation/jPipelineLeadGeneration';
import jPipelineSales from '@/views/sales/pipeline/sales/jPipelineSales';
import { mapActions, mapState } from 'vuex';

export default {
  // eslint-disable-next-line
  name: 'jGlobalPipeline',
  components: {
    jPipelineLeadGeneration,
    jPipelineSales,
  },
  data() {
    return {
      title: {
        icon: 'fa-user',
        main_title: 'Pipeline',
        opt_title: 'Administrator',
      },
      tabs: [
        {
          idTab: 'tab-pipeline-lead-generation', title: 'Lead Generation', idComp: 'comp-pipeline-lead-generation', comp: jPipelineLeadGeneration, isShow: true,
        },
        {
          idTab: 'tab-pipeline-sales', title: 'Sales', idComp: 'comp-pipeline-sales', comp: jPipelineSales, isShow: true,
        },
      ],
    };
  },
  computed: {
    ...mapState('jStorePipeline', ['data_changed']),
  },
  watch: {
    data_changed(val) {
      if (val) {
        this.getUserRestrictionList({ package: constant.SalesPackage });
        this.setDefaultDataChanged();
      }
    },
  },
  mounted() {
    this.getStageList();
  },
  methods: {
    ...mapActions('jStorePipeline', ['getStageList', 'getUserRestrictionList', 'setDefaultDataChanged']),
  },
};
</script>
