<template>
  <div>
    <j-title-header :options="title"/>
    <div
      v-if="show"
      class="create-period float-to-right">
      <b-button
        class="btn blue"
        style="cursor:pointer"
        @click="createLeads">
        + CREATE LEAD
      </b-button>
    </div>
    <jLeadsList
      v-if="show"
      @toggleShow="toggleShow"/>
    <router-view/>
  </div>
</template>

<script>
import jLeadsList from './list-leads/jLeadsList';

export default {
  // eslint-disable-next-line
  name: 'jGlobalLeads',
  components: {
    jLeadsList,
  },
  data() {
    return {
      title: {
        icon: 'fa-user',
        main_title: 'Leads',
        opt_title: 'Administrator',
      },
      show: null,
    };
  },
  watch: {
    // eslint-disable-next-line
    '$route.path'(val) {
      if (val === '/sales/leads') {
        this.show = true;
      } else {
        this.show = false;
      }
    },
  },
  beforeMount() {
    if (this.$route.path === '/sales/leads') {
      this.show = true;
    } else {
      this.show = false;
    }
  },
  methods: {
    createLeads() {
      this.show = false;
      this.$router.replace('/sales/leads/create');
    },
    toggleShow(val) {
      this.show = val;
    },
  },
};
</script>
