<template>
  <div
    id="jMyTeam"
    class="m__t--20 row justify-content-center">
    <div class="col-12">
      <div
        v-for="(data, index) in my_team_state.data"
        :key="index"
        class="col-12 row">
        <div
          class="col-1"
          style="line-height: 1">
          <div style="font-size: 14px"> {{ monthName(data.date.split('-')[1]) }} </div>
          <div style="font-size: 30px"> {{ data.date.split('-')[2] }} </div>
        </div>
        <div class="col-9 p__l--20">
          <div style="font-size: 16px"> Sales Plan {{ data.user_list.length }} Person </div>
          <div style="font-size: 12px; color: #007bff">
            SALES ACTIVITY: {{ data.activity_list.length }}
          </div>
        </div>
        <div
          :v-if="data.activity_list.length > 0 && data.user_list.length > 0"
          class="col-2">
          <i
            v-b-toggle="data.id"
            :class="data.open ? 'fa-angle-down' : 'fa-angle-up'"
            class="fa float-right"
            style="cursor:pointer"
            @click="openDetail(data)"/>
        </div>
        <j-collapse
          :v-if="data.activity_list.length > 0 && data.user_list.length > 0"
          :id="data.id"
          :visible="false"
          class="col-12">
          <div
            v-for="(user, index) in data.user_list"
            :key="index"
            class="row p__t--10">
            <div class="col-1"/>
            <div
              class="profile_container col-1 p__l--20">
              <img
                :src="user.photo"
                class="profile">
            </div>
            <div class="col-10 p__l--30">
              <div style="font-size: 18px; line-height: 1.7;"> {{ user.name }} </div>
              <div style="font-size: 14px; line-height: 1;"> {{ user.position }} </div>
            </div>
          </div>
          <div
            v-for="(activity, index) in data.activity_list"
            :key="index"
            class="row p__t--10">
            <div class="col-1"/>
            <div
              class="col-1"
              style="position:relative;">
              <img
                :src="require(`@/assets/icon/${ activity.icon }.png`)"
                style="width:60px;height:60px;position:absolute;margin:auto;top:0;bottom:0">
            </div>
            <div class="col-10 p__l--30">
              <div style="font-size: 18px; line-height: 1.2;"> {{ activity.name }} </div>
              <div
                class="row"
                style="font-size: 14px; line-height: 1;">
                <div class="col-3">
                  {{ activity.lead }}
                </div>
                <div class="col-9">
                  {{ activity.address }}
                </div>
              </div>
              <div
                class="row"
                style="font-size: 14px; line-height: 1.4;">
                <div class="col-6">
                  {{ activity.time }}
                </div>
                <div class="col-6">
                  <div
                    :style="'color:'+activity.color"
                    class="float-right">
                    {{ activity.stage }}
                  </div>
                </div>
              </div>
            </div>
          </div>
        </j-collapse>
        <hr class="col-11">
      </div>
    </div>
    <br>
    <b-button
      class="btn grey outline"
      @click="fillList"> Load More </b-button>
  </div>
</template>

<script>
import { mapState, mapActions } from 'vuex';

export default {
  // eslint-disable-next-line
  name: 'jMyTeam',
  data() {
    return {
      start: '',
      end: '',
    };
  },
  computed: {
    ...mapState('jStoreDailyLog', ['my_team_state']),
  },
  mounted() {
    this.fillList();
    // this.onScroll();
  },
  methods: {
    ...mapActions('jStoreDailyLog', ['getMyTeam', 'addData', 'openDetail']),
    fillList() {
      if (this.start === '') {
        this.start = new Date();
      } else {
        this.start = new Date(this.end);
        this.start.setDate(this.start.getDate());
      }

      this.end = new Date(this.start);
      this.end.setDate(this.end.getDate() + 15);

      const payload = {
        start_date: this.formatDate(this.start),
        end_date: this.formatDate(this.end),
      };

      this.addData(this.start);

      this.getMyTeam(payload);
    },
    onScroll() {
      window.onscroll = () => {
        const height = document.documentElement.scrollTop + window.innerHeight;
        const elmnt = document.getElementById('wrapper');
        if (height === elmnt.offsetHeight) {
          this.fillList();
        }
      };
    },
    formatDate(d) {
      let month = `${d.getMonth() + 1}`;
      let day = `${d.getDate()}`;
      const year = d.getFullYear();

      if (month.length < 2) month = `0${month}`;
      if (day.length < 2) day = `0${day}`;

      return `${year}-${month}-${day}`;
    },
    monthName(m) {
      if (m === '01') {
        return 'JAN';
      }
      if (m === '02') {
        return 'FEB';
      }
      if (m === '03') {
        return 'MAR';
      }
      if (m === '04') {
        return 'APR';
      }
      if (m === '05') {
        return 'MAY';
      }
      if (m === '06') {
        return 'JUN';
      }
      if (m === '07') {
        return 'JUL';
      }
      if (m === '08') {
        return 'AUG';
      }
      if (m === '09') {
        return 'SEP';
      }
      if (m === '10') {
        return 'OCT';
      }
      if (m === '11') {
        return 'NOV';
      }
      return 'DEC';
    },
  },
};
</script>
