<template>
  <div class="row justify-content-center">
    <div class="col-8 m--20">
      <div class="row">
        <div class="col-4">
          <label>Date</label>
          <j-select
            v-model="report_data.date"
            :disabled="false"
            :options="list_options.date"/>
        </div>
        <div class="col-4">
          <label>Start Date*</label>
          <j-datepicker
            v-model="report_data.start_date"
            :disabled="false"
            format="MMM dd, yyyy"/>
        </div>
        <div class="col-4">
          <label>End Date*</label>
          <j-datepicker
            v-model="report_data.end_date"
            :disabled="false"
            format="MMM dd, yyyy"/>
        </div>
        <div class="col-12">
          <label>Lead</label>
          <div style="font-size: 10px">
            <a
              style="color: #42A5CE; cursor: pointer;"
              @click="selectAllData">
              Select All
            </a>
            |
            <a
              style="color: #42A5CE; cursor: pointer;"
              @click="unselectAllData">
              Unselect All
            </a>
          </div>
          <j-multi-select
            :options="list_options.lead"
            v-model="report_data.lead"
            value-format="object"/>
        </div>
        <div class="col-12">
          <label>Sales in Charge</label>
          <div style="font-size: 10px">
            <a
              style="color: #42A5CE; cursor: pointer;"
              @click="selectAllData">
              Select All
            </a>
            |
            <a
              style="color: #42A5CE; cursor: pointer;"
              @click="unselectAllData">
              Unselect All
            </a>
          </div>
          <j-multi-select
            :options="list_options.sales"
            v-model="report_data.sales"
            value-format="object"/>
        </div>
        <div class="col-12">
          <label>Product</label>
          <div style="font-size: 10px">
            <a
              style="color: #42A5CE; cursor: pointer;"
              @click="selectAllData">
              Select All
            </a>
            |
            <a
              style="color: #42A5CE; cursor: pointer;"
              @click="unselectAllData">
              Unselect All
            </a>
          </div>
          <j-multi-select
            :options="list_options.product"
            v-model="report_data.product"
            value-format="object"/>
        </div>
        <div class="col-12">
          <label>Product Type</label>
          <div style="font-size: 10px">
            <a
              style="color: #42A5CE; cursor: pointer;"
              @click="selectAllData">
              Select All
            </a>
            |
            <a
              style="color: #42A5CE; cursor: pointer;"
              @click="unselectAllData">
              Unselect All
            </a>
          </div>
          <j-multi-select
            :options="list_options.product_type"
            v-model="report_data.product_type"
            value-format="object"/>
        </div>
        <div class="col-12">
          <label>Status</label>
          <div style="font-size: 10px">
            <a
              style="color: #42A5CE; cursor: pointer;"
              @click="selectAllData">
              Select All
            </a>
            |
            <a
              style="color: #42A5CE; cursor: pointer;"
              @click="unselectAllData">
              Unselect All
            </a>
          </div>
          <j-multi-select
            :options="list_options.status"
            v-model="report_data.status"
            value-format="object"/>
        </div>
        <div class="col-12">
          <b-button
            class="btn blue"
            style="float: right"
            @click="downloadReport">
            DOWNLOAD
          </b-button>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { mapState, mapActions, mapMutations } from 'vuex';

export default {
  // eslint-disable-next-line
  name: 'jReportOpportunity',
  data() {
    return {
      report_data: {
        date: 1,
        start_date: new Date(),
        end_date: new Date(),
        lead: [],
        sales: [],
        product: [],
        product_type: [],
        status: [],
      },
    };
  },
  computed: {
    ...mapState('jStoreReport', ['list_options', 'url']),
  },
  watch: {
    url(val) {
      if (val !== '') {
        window.open(val, '_blank');
        this.setDefaultUrl();
      }
    },
  },
  methods: {
    ...mapMutations('jStoreReport', ['setDefaultUrl']),
    ...mapActions('jStoreReport', ['getReportOpportunity']),
    getData() {
      // console.log('get data');
    },
    selectAllData() {
      // console.log('select all');
    },
    unselectAllData() {
      // console.log('unselect all');
    },
    downloadReport() {
      this.getReportOpportunity(this.report_data);
    },
  },
};
</script>
