<template>
  <div class="row justify-content-center">
    <draggable
      :list="stage_list"
      class="m__b--15 m__t--15 col-10"
      ghost-class="ghost"
      @change="log">
      <div
        v-for="(stage, index) in stage_list"
        :key="index">
        <div
          v-if="!stage.is_delete"
          class="m__b--5 m__t--10">
          <div
            :style="`border: 1px solid; border-radius: 10px;
            border-color: ${ stage.color }; padding: 15px;`">
            <jStageForm
              v-if="!is_changed"
              :stage="{index, stage}"
              @persist="persistStage"/>
          </div>
        </div>
      </div>
    </draggable>
    <div class="p__t--5 col-10">
      <div
        style="padding: 0px">
        <b-button
          style="float: left"
          class="btn blue"
          @click="saveStage">
          SUBMIT
        </b-button>
        <label
          style="float: right; cursor: pointer"
          @click="addStage">
          + Add Stage
        </label>
      </div>
    </div>
  </div>
</template>

<script>
import { mapState } from 'vuex';
import constant from '@/constant/constant';
import jStageForm from '@/components/form/stage/jStageForm';
import { jMixModelCreateStageLg } from '@/mixins/models/stage/jMixModelCreateStageLg';
import draggable from 'vuedraggable';

export default {
  // eslint-disable-next-line
  name: 'jStageLgList',
  components: {
    jStageForm,
    draggable,
  },
  mixins: [
    jMixModelCreateStageLg,
  ],
  data() {
    return {
      stage_list: [],
      is_changed: false,
    };
  },
  computed: {
    ...mapState('jStoreStage', ['stage_lg_state', 'activity_type_options']),
  },
  watch: {
    // eslint-disable-next-line
    'stage_lg_state.list'(val) {
      if (val.length > 0) {
        this.stage_list = [];
        val.forEach((element) => {
          const stage = {
            id: (typeof element.id === 'undefined') ? 0 : element.id,
            is_delete: (typeof element.is_delete === 'undefined') ? false : element.is_delete,
            position: (typeof element.position === 'undefined') ? 1 : element.position,
            name: element.name,
            description: element.description,
            activity_type: element.activity_type,
            icon: element.icon,
            color: element.color,
            type: element.type,
          };
          this.stage_list.push(stage);
        });
        this.stage_list.sort((a, b) => a.position - b.position);
        this.stage_list.forEach((stage, index) => {
          const data = {
            index,
            stage,
          };
          this.persistStage(data);
        });
      }
    },
  },
  methods: {
    addStage() {
      const stage = {
        id: 0,
        name: null,
        description: 'desc',
        activity_type: [],
        type: constant.StageTypeLG,
        color: null,
        icon: null,
        position: (this.stage_list.length > 0) ?
          this.stage_list.filter(s => s.is_delete === false).length + 1 : 1,
        is_delete: false,
      };
      this.stage_list.push(stage);
    },
    persistStage(data) {
      this.stage_list[data.index] = data.stage;
      let pos = 0;
      this.stage_list.forEach((element) => {
        if (!element.is_delete) {
          pos += 1;
        }
        // eslint-disable-next-line
        element.position = pos;
      });
    },
    saveStage() {
      if (this.stage_list.length > 0) {
        this.sendData();
      }
    },
    log() {
      this.stage_list.forEach((stage, index) => {
        const data = {
          index,
          stage,
        };
        this.persistStage(data);
      });
      this.is_changed = true;
      setTimeout(() => {
        this.is_changed = false;
      }, 0);
    },
  },
};
</script>
