<template>
  <div>
    <b-modal
      ref="createSource"
      class="mod-form"
      centered
      no-close-on-backdrop
      no-close-on-esc>

      <div
        class="jback-to-route row">
        <div class="col-12">
          <i
            class="fa fa-times"
            style="float:right;cursor:pointer"
            @click="$router.replace('/config/source')"/>
        </div>
      </div>

      <jSourceForm
        ref="form"
        mode="create"
        @data="getData"/>

      <b-button
        class="btn blue"
        @click="saveCreateSource">
        CREATE
      </b-button>
    </b-modal>
  </div>
</template>

<script>
import jSourceForm from '@/components/form/source/jSourceForm';
import { jMixModelCreateSource } from '@/mixins/models/source/jMixModelCreateSource';

export default {
  components: {
    jSourceForm,
  },

  mixins: [
    jMixModelCreateSource,
  ],

  data() {
    return {
      source_data: null,
    };
  },

  mounted() {
    this.show();
  },

  methods: {
    saveCreateSource() {
      this.$refs.form.save();
      if (this.source_data !== null) {
        this.sendData();
      }
    },

    getData(data) {
      this.source_data = data;
    },

    show() {
      this.$refs.createSource.show();
    },
  },

};
</script>
