<script>
/* eslint-disable-next-line */
import { HorizontalBar } from 'vue-chartjs';
import { mapState, mapMutations } from 'vuex';

export default {
  /* eslint-disable-next-line */
  name: 'jOpportunityBar',
  extends: HorizontalBar,
  data() {
    return {
      data: {
        datasets: [
          {
            label: 'Presales',
            backgroundColor: '#42A5CE',
            hoverBackgroundColor: '#42A5CE',
            data: [5000000],
          },
          {
            label: 'Postsales',
            backgroundColor: '#D2232A',
            hoverBackgroundColor: '#D2232A',
            data: [5000000],
          },
        ],
      },
      options: {
        title: {
          display: true,
          text: 'Opportunity',
          fontSize: 20,
        },
        onHover: (event) => {
          /* eslint-disable-next-line */
          const elements = this.$data._chart.getElementAtEvent(event);
          /* eslint-disable-next-line */
          event.target.style.cursor = elements.length > 0 ? 'pointer' : 'default';
        },
        onClick: (event) => {
          /* eslint-disable-next-line */
          const index = this.$data._chart.getDatasetAtEvent(event)[0]._datasetIndex;
          this.setSelectedOpportunityGraph(index);
        },
        animation: {
          duration: 0.00001,
          onComplete: () => {
            /* eslint-disable-next-line */
            const chartInstance = this.$data._chart;
            const ctx = chartInstance.ctx;
            ctx.textAlign = 'left';
            ctx.textBaseline = 'middle';
            ctx.fillStyle = 'white';

            this.data.datasets.forEach((dataset, i) => {
              const meta = chartInstance.controller.getDatasetMeta(i);
              meta.data.forEach((bar, index) => {
                const data = dataset.data[index];
                /* eslint-disable-next-line */
                ctx.fillText(data, 125, bar._model.y);
              });
            });
          },
        },
        scales: {
          yAxes: [{
            ticks: {
              beginAtZero: true,
            },
            gridLines: {
              display: false,
            },
            categoryPercentage: 1.0,
            barPercentage: 1.0,
            display: false,
          }],
          xAxes: [{
            ticks: {
              beginAtZero: true,
            },
            gridLines: {
              display: false,
            },
            display: false,
          }],
        },
        legend: {
          position: 'left',
        },
        tooltips: {
          enabled: false,
        },
        responsive: true,
        maintainAspectRatio: false,
        height: 150,
      },
    };
  },
  computed: {
    ...mapState('jStoreHome', ['home_state']),
  },
  watch: {
    /* eslint-disable-next-line */
    'home_state.opportunity.data'(val) {
      if (val.length > 0) {
        this.data.datasets = [];

        val.forEach((item) => {
          const data = {
            label: item.title,
            backgroundColor: item.color,
            hoverBackgroundColor: item.color,
            data: [item.value],
          };

          this.data.datasets.push(data);
        });

        this.refreshChart();
      }
    },
  },
  mounted() {
    this.refreshChart();
  },
  methods: {
    ...mapMutations('jStoreHome', ['setSelectedOpportunityGraph']),
    refreshChart() {
      this.renderChart(this.data, this.options);
    },
  },
};
</script>

<style>

</style>

