<template>
  <div
    v-if="pipeline_lg_state.stage.length > 0"
    class="row justify-content-center">
    <div class="col-10 m__t--30 m__b--30">
      <j-summary
        :data-summary="pipeline_lg_state.stage"
        class="jPipelineLG"
        @summaryBlock="selectStage"/>
    </div>
    <div class="col-7 m__b--30 p__l--21">
      <h6>OPPORTUNITIES ({{ pipeline_lg_state.amount }})</h6>
      <h2 style="line-height:0.4">IDR {{ pipeline_lg_state.value }}</h2>
    </div>
    <div
      v-for="(data, index) in pipeline_lg_state.list"
      :key="index"
      class="col-7 row">
      <div
        class="col-1"
        style="position: relative; padding: 0">
        <img
          :src="require(`@/assets/icon/${ data.icon }.png`)"
          style="width:60px;height:60px;position:absolute;margin:auto;top:0;bottom:0">
      </div>
      <div class="col-11 p__l--10">
        <div
          class="row">
          <div
            class="col-9"
            style="font-size: 18px;">
            {{ data.name }}
          </div>
          <div
            class="col-3"
            style="font-size: 16px;">
            <div style="float: right">{{ data.duration }}</div>
          </div>
        </div>
        <div
          class="row">
          <div
            class="col-9"
            style="font-size: 16px;">
            HANDLED BY {{ data.user }}
          </div>
          <div
            class="col-3"
            style="font-size: 14px;">
            <div style="float: right">IDR {{ data.value }}</div>
          </div>
        </div>
      </div>
      <hr class="col-11">
    </div>
  </div>
</template>

<script>
import { mapState, mapActions } from 'vuex';

export default {
  // eslint-disable-next-line
  name: 'jPipelineLeadGeneration',
  computed: {
    ...mapState('jStorePipeline', ['pipeline_lg_state', 'user_restriction_id_list']),
  },
  watch: {
    user_restriction_id_list(val) {
      if (val.length > 0) {
        this.selectStage(this.pipeline_lg_state.stage[0]);
      }
    },
  },
  methods: {
    ...mapActions('jStorePipeline', ['getPipelineList']),
    selectStage(data) {
      const payload = {
        data,
        payload: {
          stage_id: data.id,
          user_company_id: this.user_restriction_id_list,
        },
      };

      this.getPipelineList(payload);
    },
  },
};
</script>
