<template>
  <div>
    <b-modal
      ref="editMeasure"
      class="mod-form"
      centered
      no-close-on-backdrop
      no-close-on-esc>

      <div
        class="jback-to-route row">
        <div class="col-12">
          <i
            class="fa fa-times"
            style="float:right;cursor:pointer"
            @click="$router.replace('/config/product')"/>
        </div>
      </div>

      <jMeasureForm
        ref="form"
        mode="edit"
        @data="getData"/>

      <b-button
        class="btn blue"
        @click="saveUpdateMeasure">
        SUBMIT
      </b-button>
      <b-button
        class="btn red"
        @click="deleteData">
        DELETE
      </b-button>
    </b-modal>
  </div>
</template>

<script>
import jMeasureForm from '@/components/form/measure/jMeasureForm';
import { jMixModelEditMeasure } from '@/mixins/models/measure/jMixModelEditMeasure';
import { jMixModelDeleteMeasure } from '@/mixins/models/measure/jMixModelDeleteMeasure';

export default {
  components: {
    jMeasureForm,
  },

  mixins: [
    jMixModelEditMeasure,
    jMixModelDeleteMeasure,
  ],

  data() {
    return {
      measure_data: null,
    };
  },

  mounted() {
    this.show();
  },

  methods: {
    saveUpdateMeasure() {
      this.$refs.form.save();
      if (this.measure_data !== null) {
        this.sendData();
      }
    },

    getData(data) {
      this.measure_data = data;
    },

    show() {
      this.$refs.editMeasure.show();
    },
  },

};
</script>
