.custom-search-table {
  .table-responsive {
    overflow-x: unset;
  }

  .jTable {
    .VueTables__search {
      float: left;

      .VueTables__search-field {
        display: none;
      }
    }

    .custom-search {
      margin: -5;
      padding: 0;
    }

    .show {
      display: none;
    }

    .btn {
      font-size: 14px;
      height: 34px;
      padding: 0;
      padding-left: 5px;
      padding-right: 5px;
    }
  }
}
