<template>
  <div>
    <b-form-group :class="{'error-input' : $v.policy_data.name.$error}">
      <label>Name*</label>
      <j-input
        v-model="$v.policy_data.name.$model"
        :max-length="50"
        placeholder="Name"/>
    </b-form-group>

    <b-form-group :class="{'error-input' : $v.policy_data.description.$error}">
      <label>Description*</label>
      <j-input
        v-model="$v.policy_data.description.$model"
        placeholder="Description"/>
    </b-form-group>

    <div class="row">
      <label class="col-1">Win</label>
      <j-toggle
        v-model="policy_data.policies[0].included"
        class="col-2"/>
      <label class="col-2">Requires Product</label>
      <j-toggle
        v-model="policy_data.policies[1].included"
        class="col-2"/>
      <label class="col-2">Requires Document</label>
      <j-toggle
        v-model="policy_data.policies[2].included"
        class="col-2"/>
      <label class="col-2">Close the Opportunity</label>
      <j-toggle
        v-model="policy_data.policies[3].included"
        class="col-2"/>
      <div class="col-9">
        <label>Maximum Next Activity Date</label>
        <div
          v-if="policy_data.policies[5].included"
          class="row">
          <b-form-group class="col-6 error-input: false">
            <j-input
              v-model.number="policy_data.policies[5].value"/>
          </b-form-group>
          <b-form-group class="col6 error-input: false">
            <j-select
              :options="periodType"
              v-model="policy_data.policies[5].type"
              placeholder="Period"/>
          </b-form-group>
        </div>
      </div>
      <j-toggle
        v-model="policy_data.policies[5].included"
        class="col-2"/>
    </div>
  </div>
</template>

<script>
import { jMixValidationFormPolicy } from '@/mixins/validations/policy/jMixValidationFormPolicy';
import { jMixOptionsFormPolicy } from '@/mixins/list-options/policy/jMixOptionsFormPolicy';
import constant from '@/constant/constant';
import { jMixModeEditPolicy } from '@/mixins/mode/policy/jMixModeEditPolicy';


export default {
  mixins: [
    jMixValidationFormPolicy,
    jMixOptionsFormPolicy,
    jMixModeEditPolicy,
  ],
  props: {
    mode: {
      type: String,
      default: 'create',
    },
  },
  data() {
    return {
      policy_data: {
        id: 0,
        name: null,
        description: null,
        policies: [
          {
            policy: constant.PolicyWinningActivity,
            included: false,
          },
          {
            policy: constant.PolicyRequiresProduct,
            included: false,
          },
          {
            policy: constant.PolicyRequiresDocumentUpload,
            included: false,
          },
          {
            policy: constant.PolicyCloseActivity,
            included: false,
          },
          {
            policy: constant.PolicyRequiresDocumentTemplate,
            value: null,
            included: false,
          },
          {
            policy: constant.PolicyMaxNextActivity,
            type: null,
            value: 0,
            included: false,
          },
        ],
      },
    };
  },
  methods: {
    save() {
      this.$v.policy_data.$touch();
      if (!this.$v.policy_data.$error) {
        this.$emit('data', this.policy_data);
      } else {
        this.$emit('data', null);
      }
    },
  },
};
</script>
