<template>
  <div>
    <b-form-group :class="{'error-input' : $v.reminder_data.name.$error}">
      <label>Name*</label>
      <j-input
        v-model="$v.reminder_data.name.$model"
        :max-length="50"
        placeholder="Name"/>
    </b-form-group>

    <b-form-group :class="{'error-input' : $v.reminder_data.description.$error}">
      <label>Description*</label>
      <j-input
        v-model="$v.reminder_data.description.$model"
        placeholder="Description"/>
    </b-form-group>

    <div
      v-for="(reminder, index) in $v.reminder_data.reminders.$model"
      :key="index"
      class="row">
      <div class="col-4">
        <b-form-group :class="{'error-input' : false}">
          <j-single-select
            v-model="reminder.reminder"
            :options="reminder_options"
            label="name"
            value-format="id"
            placeholder="Select Period"/>
        </b-form-group>
      </div>
      <div class="col-3">
        <b-form-group :class="{'error-input' : false}">
          <j-input
            v-model="reminder.value"/>
        </b-form-group>
      </div>
      <div class="col-3">
        <b-form-group :class="{'error-input' : false}">
          <j-single-select
            v-model="reminder.type"
            :options="period_type_options"
            label="name"
            value-format="id"
            placeholder="Select Period"/>
        </b-form-group>
      </div>
      <div class="col-2">
        <i
          class="fa fa-times"
          style="cursor:pointer;font-size:30px"
          @click="removeReminder(index)"/>
      </div>
    </div>
    <div class="add-reminder float-to-right">
      <label
        class="btn blue"
        style="cursor:pointer"
        @click="addReminder">
        + Add Reminder
      </label>
    </div>
  </div>
</template>

<script>
import { jMixValidationFormReminder } from '@/mixins/validations/reminder/jMixValidationFormReminder';
import { jMixOptionsFormReminder } from '@/mixins/list-options/reminder/jMixOptionsFormReminder';
import { jMixModeEditReminder } from '@/mixins/mode/reminder/jMixModeEditReminder';


export default {
  mixins: [
    jMixValidationFormReminder,
    jMixOptionsFormReminder,
    jMixModeEditReminder,
  ],
  props: {
    mode: {
      type: String,
      default: 'create',
    },
  },
  data() {
    return {
      reminder_data: {
        id: 0,
        name: null,
        description: null,
        reminders: [
          {
            reminder: 1,
            type: null,
            value: 1,
          },
        ],
      },
    };
  },
  methods: {
    save() {
      this.$v.reminder_data.$touch();
      if (!this.$v.reminder_data.$error) {
        this.$emit('data', this.reminder_data);
      } else {
        this.$emit('data', null);
      }
    },
    addReminder() {
      const reminder = {
        reminder: 1,
        type: null,
        value: 1,
      };
      this.reminder_data.reminders.push(reminder);
    },
    removeReminder(index) {
      this.reminder_data.reminders.splice(index, 1);
    },
  },
};
</script>
