<template>
  <div>
    <j-floating-prompt
      ref="floating"
      @close-floating-prompt="closeFloating">

      <b-row>
        <b-col md="3">
          <b-row>
            <h1 class="f-blue">{{ selectedRows.length }}</h1>
            <h4> rows <br> selected </h4>
          </b-row>
        </b-col>
        <b-col md="7">
          <h4>Products Name : </h4>
          <p> {{ products_name }} </p>
        </b-col>
        <b-col md="2">
          <b-button
            class="btn red"
            @click="deleteProducts">DELETE</b-button>
        </b-col>
      </b-row>

    </j-floating-prompt>

    <jProgressScreen
      ref="deleteProduct"
      :data-kirim="delete_data"
      :url-api="url"
      :base-api="base"
      @finish="finish"/>

  </div>
</template>

<script>
import { jMixModelDeleteProducts } from '@/mixins/models/product/jMixModelDeleteProduct';
import jApi from '@/services/jApi';
import jProgressScreen from '@/components/progress-screen/jProgressScreen';

export default {
  components: {
    jProgressScreen,
  },

  mixins: [
    jMixModelDeleteProducts,
  ],

  props: {
    selectedRows: {
      type: Array,
      default: () => [],
    },
  },

  computed: {
    base() {
      return jApi.generateApi();
    },

    url() {
      return 'sales/setup/product/delete';
    },

    products_name() {
      const name = [];
      this.selectedRows.forEach((a) => {
        name.push(a.name);
      });
      return name.join(', ');
    },
  },

  methods: {
    show() {
      this.$refs.floating.show();
    },

    hide() {
      this.$refs.floating.hide();
    },

    closeFloating() {
      this.$emit('close-floating');
    },

    finish() {
      this.hide();
      this.$emit('finish');
    },

  },
};
</script>
