<template>
  <div>
    <b-modal
      ref="createIndustry"
      class="mod-form"
      centered
      no-close-on-backdrop
      no-close-on-esc>

      <div
        class="jback-to-route row">
        <div class="col-12">
          <i
            class="fa fa-times"
            style="float:right;cursor:pointer"
            @click="$router.replace('/config/industry')"/>
        </div>
      </div>

      <jIndustryForm
        ref="form"
        mode="create"
        @data="getData"/>

      <b-button
        class="btn blue"
        @click="saveCreateIndustry">
        CREATE
      </b-button>
    </b-modal>
  </div>
</template>

<script>
import jIndustryForm from '@/components/form/industry/jIndustryForm';
import { jMixModelCreateIndustry } from '@/mixins/models/industry/jMixModelCreateIndustry';

export default {
  components: {
    jIndustryForm,
  },

  mixins: [
    jMixModelCreateIndustry,
  ],

  data() {
    return {
      industry_data: null,
    };
  },

  mounted() {
    this.show();
  },

  methods: {
    saveCreateIndustry() {
      this.$refs.form.save();
      if (this.industry_data !== null) {
        this.sendData();
      }
    },

    getData(data) {
      this.industry_data = data;
    },

    show() {
      this.$refs.createIndustry.show();
    },
  },

};
</script>
