<template>
  <div
    class="p__t--10 row justify-content-center">
    <h3 class="m__t--10">Today's Activity</h3>
    <hr
      class="m--0 m__b--10 col-10"
      style="border: 1px solid">
    <div
      v-if="home_state.activity_detail.length === 0">
      No Activity
    </div>
    <div
      v-for="(activity, index) in home_state.activity_detail"
      v-else
      :key="index">
      <div class="row">
        <div class="col-2">
          <img
            :src="require(`@/assets/icon/${ activity.icon }.png`)"
            style="width:50px;height:50px;margin:5px;">
        </div>
        <div class="col-6">
          <div>
            <h3 class="uppercase m__b--0">{{ activity.name }}</h3>
          </div>
          <div>
            <p class="capitalize m__b--0">{{ activity.address }}</p>
          </div>
          <div>
            <h4 class="m__b--0">{{ activity.time }}</h4>
          </div>
        </div>
        <div
          class="col-4 vertical_center">
          <div>
            <h4 class="capitalize c--primary m__b--4">
              {{ activity.activity_name }}
            </h4>
          </div>
          <hr
            class="m--1"
            align="left">
          <div>
            <h4 class="capitalize c--submitted m__b--4">
              {{ activity.stage }}
            </h4>
          </div>
        </div>
      </div>
      <hr
        class="m--5"
        align="center">
    </div>
  </div>
</template>

<script>
import { mapActions, mapState } from 'vuex';

/* eslint-disable */
export default {
  computed: {
    ...mapState('jStoreHome', ['home_state']),
  },
  mounted() {
    this.getActivityDetail(this.getTime());
  },
  methods: {
    ...mapActions('jStoreHome', ['getActivityDetail', 'setDefaultDataChanged']),
    getTime() {
      const d = new Date();

      let month = `${d.getMonth() + 1}`;
      let dayStart = `${d.getDate()}`;
      let dayEnd = `${d.getDate() + 1}`;

      if (month.length < 2) month = `0${month}`;
      if (dayStart.length < 2) dayStart = `0${dayStart}`;
      if (dayEnd.length < 2) dayEnd = `0${dayEnd}`;

      const dateStart = `${d.getFullYear()}-${month}-${dayStart}`;
      const dateEnd = `${d.getFullYear()}-${month}-${dayEnd}`;

      return {
        start_date: dateStart,
        end_date: dateEnd,
      }
    },
  },
};
</script>

<style scoped>
  .vertical_center {
    top: 50%;
    -ms-transform: translateY(10%);
    transform: translateY(10%);
  }
</style>
