.jLeaderboard {
    .summary {
        flex-wrap: nowrap;
        overflow-x: auto;
    }

    .sum-start-first, .sum-middle, .sum-last {
        min-width: 30%;
    }

    p.spn, h5.title {
        opacity: 0;
    }
}

.home-card {
    flex: 0 0 93.5%;
    max-width: 93.33%;
}