<template>
  <div>
    <b-modal
      ref="editGoals"
      class="mod-form"
      centered
      no-close-on-backdrop
      no-close-on-esc>

      <div
        class="jback-to-route row">
        <div class="col-12">
          <i
            class="fa fa-times"
            style="float:right;cursor:pointer"
            @click="$router.replace('/config/goals')"/>
        </div>
      </div>

      <jGoalsForm
        ref="form"
        mode="edit"
        @data="getData"/>
      <b-button
        class="btn blue"
        @click="saveUpdateGoal">
        SUBMIT
      </b-button>
      <b-button
        class="btn red"
        @click="deleteData">
        DELETE
      </b-button>
    </b-modal>
  </div>
</template>

<script>
import jGoalsForm from '@/components/form/goals/jGoalsForm';
import { jMixModelEditGoals } from '@/mixins/models/goals/jMixModelEditGoals';
import { jMixModelDeleteGoal } from '@/mixins/models/goals/jMixModelDeleteGoals';

export default {
  components: {
    jGoalsForm,
  },

  mixins: [
    jMixModelEditGoals,
    jMixModelDeleteGoal,
  ],

  data() {
    return {
      goal_data: null,
    };
  },

  mounted() {
    this.show();
  },

  methods: {
    saveUpdateGoal() {
      this.$refs.form.save();
      if (this.goal_data !== null) {
        this.sendData();
      }
    },

    getData(data) {
      this.goal_data = data;
    },

    show() {
      this.$refs.editGoals.show();
    },
  },

};
</script>
